<div class="po-sm-12 po-md-6" [formGroup]="registerForm">
  <div class="flex-container po-mt-2 po-mb-2">
    <img src="../../../assets/images/logo-***REMOVED***.svg" alt="***REMOVED*** - Locus" class="grey">
  </div>

  <h2>
    {{'Registro de Localização'}}
  </h2>

  <div *ngIf="place" class="information">
    <span class="po-icon po-icon-pin"></span> {{ place.name }}
  </div>

  <div class="po-p-2 form">
    <div>
      <po-email
        name="email"
        p-label="E-mail"
        p-clean="true"
        p-auto-focus="true"
        p-placeholder="{{ 'Insira seu e-mail corporativo' }}"
        formControlName="email"
        (p-change)="setName($event)"
      ></po-email>
    </div>

    <div>
      <po-input
        name="name"
        p-label="{{ 'Nome' }}"
        p-icon="po-icon-user"
        p-clean="true"
        p-placeholder="{{ 'Insira seu nome' }}"
        formControlName="name"
      ></po-input>
    </div>

    <div>
      <po-input
        name="phone"
        p-label="{{'Telefone'}}"
        p-mask="(99) 99999?-9999"
        [p-minlength]="11"
        p-icon="po-icon-telephone"
        p-mask-format-model="true"
        p-clean="true"
        p-placeholder="{{ 'Insira seu telefone' }}"
        formControlName="phone"
      ></po-input>
    </div>

    <div>
      <po-radio-group
        name="type"
        formControlName="type"
        [p-options]="options"
      ></po-radio-group>
    </div>

    <div class="flex-container">
      <po-button
        class="po-sm-12 po-md-6"
        p-label="{{ 'Enviar' }}"
        p-type="primary"
        p-icon="po-icon po-icon-pin"
        [p-loading]="loading"
        (p-click)="submit(registerForm)"
      ></po-button>
    </div>
  </div>

  <po-modal
    #checkin
    p-size="md"
    p-title="{{ 'Não há entrada' }}"
    [p-primary-action]="saveCheckin"
    [p-secondary-action]="closeModalCheckin"
  >
    <po-input
      name="checkin"
      p-mask="hh:mm"
      p-pattern="^(2[0-3]|[01]?[0-9]):([0-5]?[0-9])$"
      p-label="{{ 'Qual o horário aproximado da entrada?' }}"
      formControlName="checkin"
      p-mask-format-model="true"
    ></po-input>
  </po-modal>

  <po-modal
    #success
    p-hide-close
    p-size="sm"
    class="modal-success"
    [p-primary-action]="redirect"
    [p-secondary-action]="closeModalSuccess"
  >
    <div class="success-check">
      <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
      </div>
    </div>

    <h3 class="po-mb-1 po-text-center po-font-text-large-bold">
      {{ (registerForm.value.type === 'checkin'  ? 'Entrada na área '+ place?.name +' realizada com sucesso!' :
      'Saída na área '+ place?.name +' realizada com sucesso!') }}
    </h3>
  </po-modal>
</div>
